<div class="container login">
    <form class="form-login">
        <h1 class="text-center">Login Votação</h1>
        <div class="form-group">
            <label for="idDocumento" class="form-label">Informe seu CPF</label>
            <input type="number" name="nmDocumento" id="idDocumento" placeholder="Nº do documento" class="form-control" min="0">
            <small class="text-secondary">Digite apenas números</small>
            <div>
                <button class="btn btn-success btn-login">Login</button>
            </div>
        </div>
        <div>
            <p class="text-center">A votação estará disponível no período de 08:00 até 17:00 horas, logo após este período estará disponível os resultados.</p>
        </div>
    </form>
</div>