<div class="row">
  <div class="col"></div>
  <div class="col-6 rounded shadow mt-5 border p-4" id="idDivQuadro">
    <div class="row">
      <ng-container *ngIf="candidatos[0].imgCand==''">
        <div class="col-3"></div>
      </ng-container>
      <div class="col my-auto" id="idDivInputs">
        <ng-container *ngIf="config.resp.ehAnonima == false">
          <input class="form-control text-center my-3" type="text" name="nmCPF" id="idCPF" placeholder="000.000.000-00" disabled>
        </ng-container>
        <div class="form-group my-5">
          <label class="text-center p-2 w-100" for="idCandidato ">Selecione a opção desejada:</label>
          <select class="form-control text-center" list="candidatos" name="nmCandidato" id="idCandidato" [(ngModel)]="candSelect" (ngModelChange)="atualizaCandSelecionado()">
            <option value="" selected disabled hidden></option>
            <option *ngFor="let candidato of candidatos" value="{{candidato.numCand}}">{{candidato.numCand}} - {{candidato.nomeCand}}</option>
            <option value="null">0 - ANULAR VOTO</option>
          </select>
        </div>
      </div>
      <ng-container *ngIf="candidatos[0].imgCand != ''">
        <div class="text-center col border rounded p-3 m-3" id="idDivOutput">
          <output id="idOutCandidato" name="nmOutCandidato" for="idNumeroDoCandidato"
            class="my-2 fs-4">Nome do Candidato</output><br>
          <img class="img-fluid border" src="../../assets/img/padrao.png" id="FotoCandidato">
          <ng-container *ngIf="candidatos[0].descCand != ''"><p>{{candSelecionado.descCand}}</p></ng-container>

        </div>
      </ng-container>
      <ng-container *ngIf="candidatos[0].imgCand==''">
        <div class="col-3"></div>
      </ng-container>
    </div>
    <div class="text-center my-2">
      <button (click)="votarEmBranco()" class="btn border rounded mx-2 w-25">Branco</button>
      <button class="btn border rounded btn-danger mx-2 w-25">Corrigir</button>
      <button (click)="votar()" class="btn border rounded btn-success mx-2 w-25">Confirma</button>
    </div>
  </div>
  <div class="col"></div>
</div>
